<h1><%= @team.name %></h1>
<h2>Motto: <%= @team.motto %></h2>


<h1>Heroes</h1>
<% Team.all.each do |member| %>
    <p>Name: <%= member.name %></p><br>
    <p>Power: <%= member.power %></p><br>
    <p>Biography: <%= member.bio %></p><br>
<% end %>
